.thought-card-action-discuss {
	display: block;
	background-color: #FCF8FA;
	padding: 4px 10px;
	border: 1px solid rgba(0,0,0,0.1);
	cursor: pointer;
	i {
		margin-right: 8px;
		color: #999;
	}
	p {
		display: inline-block;
		font-family: 'Merriweather';
		font-size: 12px;
		margin-bottom: 0;
		color: #B6B6B6;
	}
	&:hover {
		border: 1px solid rgba(0,0,0,0.2);
		* {
			color: #;
		}
	}
}