.content-header {
	display: block;
	padding: 10px;
	.content-header-main h5 {
		font-weight: 600;
		font-size: 1.4em;
		margin-bottom: 6px;
	}
	.content-header-description {
		font-family: 'Merriweather';	
		font-size: 0.9em;
		color: #808080;
	}

}