.tcl {
	background: #fff;
  border-radius: 3px;
  /* box-shadow: 0 6px 5px -3px hexa(#972952 ,0.15), 0 1px 5px hexa(#000 ,0.17); */
  margin: 0 0 20px;
  position: relative;
  width: 100%;
  border-top: 1px solid #eee;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  border-bottom: 1px solid #ddd;
  /* border: 1px solid #ddd; */
  /* overflow: hidden; */
  &.owned {
    /* box-shadow: 0 3px 4px -3px hexa(#000 ,0.15), 0 1px 5px hexa(#000 ,0.17); */
  }
  .upper-padding {
  	padding: 10px 5.5%;
  }
  .category {
    width: 100%;
    i {
      vertical-align: middle;
    }
    label {
      display: inline-block;
      vertical-align: middle;
      margin: 0 8px;
      font-size: 11px;
    }
    .type {
      display: inline-block;
      float: right;
      color: #972952;
    }
  }
  .owner {
    display: inline-block;
    padding-left: 10px;
    label {
      color: #999;
    }
  }
  .owner-pic {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
  }
  .content {
    text-decoration: none;
    &:hover {
      cursor: pointer;
      > .bg {
        background-color: #FEF9FB;
      }
    }
  }

  .header h5 {
    font-weight: 600;
    font-size: 21px;
    margin: 16px 0 6px;
    letter-spacing: 0.15px;
    color: #222;
    @media (max-width: 550px) {
      font-size: 19px;
      letter-spacing: 0.05px;
      color: #000;
    }
  }
  .description {
    font-family: 'Merriweather';  
    font-size: 14px;
    color: #5d5d5d;
    padding: 5px 0 3px;
  }
  .action-bar {
    width: 100%;
    height: 33px;
    padding: 0 5.5%;
    color: #999;
    position: relative;
    .left {
      display: inline-block;
      float: left;
      vertical-align: middle;
      .action-button:hover {
        color: #222;
      }
    }
    .right {
      display: inline-block;
      float: right;
      vertical-align: middle;
    }
  }
  .action-button {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    i {
      margin-right: 4px;
      font-size: 15px;
    }
    p {
      display: inline-block;
      margin: 0 4px;
      font-size: 13px;
    }
    &.right {
      margin-right: 0;
      /* margin-left: 10px;
      i {
        margin-left: 4px;
        &:hover {
          color: #222;
        }
      }
      .fa-angle-up {
        color: #222;
      } */
    }
    .item   {
      display: inline-block;
      padding: 0 5px;
      &.last {
        padding-right: 0;
      }
      .fa {
        /* margin-right: 5px; */
      }
      &:hover {
        color: #222;
      }
      .text {
        font-size: 12px;

      }
    }
  }
  .already-discussed {
    border-top: 1px solid rgba(0,0,0,0.1);
    color: #222;
    font-size: 14px;
    word-wrap: break-word;
  }
  .already-pic {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
  .already-time {
    font-size: 11px;

  }
  .show-discussion {
    border-top: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px 5.5%;
    .header {
      color: #999;
      margin-bottom: 10px;
      i {
        font-size: 14px;
        display: inline-block;
      }
      label {
        font-size: 11px;
        display: inline-block;
        margin: 0 8px;
        font-weight: 400;
      }
    }
    .wrapper {
      background-color: #FEF9FB;
      margin: 0 0 15px;
      border-radius: 5px;
      padding: 8px 10px;
      border: 1px solid hexa(#000, 0.1);
      p {
        font-size: 13px;
        margin: 0;
        color: #000;
      }
    }
    .see-all {
      margin: 0 auto;
      width: 145px;
      color: #972952;
      font-size: 12px;
      border-bottom: 1px solid #972952;
      text-align: center;
      padding: 3px 0 6px;
      cursor: pointer;
      &:hover {
        color: #bc3366;
        border-color: #bc3366;
      }
    }
  }
  .dropdown {
    width: 150px;
    background-color: #fff;
    padding: 4px 0;
    box-shadow: 0px 2px 6px hexa(#000, 0.2);
    border-radius: 5px;
    position: absolute;
    top: 25px;
    right: 5.5%;
    font-size: 13px;
    color: #222;
    z-index: 990;
    .item {
      padding: 2px 18px;
      cursor: pointer;
      &:hover {
        background-color: #f9f9f9;
      }
      i {
        margin-right: 10px;
      }
    }
  }
}