/* discussion list item */
.dl-i {
  width: 100%;
  padding: 15px 6%;
  border-left: 10px solid #ccc;
  border-bottom: 1px solid #ddd;
  background-color: #fcfcfc;
  &:hover {
    border-left-color: #873C58;
  }
  .merr-font {
    font-size: 13px;
    margin: 0 0 5px;
    color: #222;
  }
  .time {
    font-size: 9px;
    color: #999;
  }
}