.cfh {
	width: 100%;
	padding-right: 70px;
	position: relative;
	@media (max-width: 550px) {
		padding: 0 4%;
	}
	.merr-font {
		font-size: 13px;
		color: #777;
	}
	.button {
		position: absolute;
		top: 6px;
		right: 10px;
		color: #777;
		cursor: pointer;
		font-size: 12px;
		background-color: #ddd;
		border-radius: 5px;
		padding: 4px 10px;
		@media (max-width: 550px) {
			right: 20px;
		}
		&:hover {
			color: #000;
		}
		&.follow {
			color: #f7f7f7;
			background-color: #bc3366;
			&:hover {
				background-color: #972952;
			}
		}
	}
}