#f-l {
  margin-top: 25px;
  @media (min-width: 550px) {
    .columns.feed {
      margin-left: 5%;
      width: 52%;
    }
  }
  @media (max-width: 1200px) {
    .columns.right {
      margin-left: 3.9%;
      width: calc(41% - 160px);
    }
    .columns.feed {
      margin-left: 6%;
    }
  }
  @media (max-width: 1000px) {
    .columns.nav {
      width: 20%;
      margin-left: 2%;
    }
    .columns.feed.seven {
      margin-left: 7%;
      width: 68.3333333333%;
    }
    .columns.right {
      display: none;
    }
    .sidebarlist-wrapper {
      width: 140px;
    }
  }
  @media (max-width: 850px) {
    &.container {
      width: 90%;
    }
    .columns.feed.seven {
      margin-left: 5%;
    }
  }
  @media (max-width: 750px) {
    .columns.nav {
      display: none;
    }
    .columns.feed.seven {
      width: auto;
      margin-left: 0;
    }
  }
  @media (max-width: 550px) {
    &.container {
      width: 100%;
    }
  }
  > .nav.columns {
    width: 160px;
  }
  .row > .right {
    margin-left: 5%;
    width: calc(38% - 160px);
  }
  /* 160px , 3% + 54% , 3% */
  .msg-from-founders {
    color: #777;
    h5 {
      font-weight: 300;
    }
    p {
      font-size: 12px;
      &::first-letter {
        font-size: 200%;
      }
    }
  }

  .feed-header {
    color: #972952;
    letter-spacing: 0.0rem;
    font-weight: 400;
    margin-bottom: 10px;
  }
}