#feed-layout {
  margin-top: 25px;
  > .nav.columns {
    width: 160px;
  }
  @media (min-width: 550px) {
    .feed.columns {
      margin-left: 5%;
      width: 52%;
    }
  }
  .row > .right {
    margin-left: 5%;
    width: calc(38% - 160px);
  }
  /* 160px , 3% + 54% , 3% */
  .msg-from-founders {
    color: #777;
    h5 {
      font-weight: 300;
    }
    p {
      font-size: 12px;
      &::first-letter {
        font-size: 200%;
      }
    }
  }
  .feed-header {
    color: #972952;
    letter-spacing: 0.0rem;
    font-weight: 400;
    margin-bottom: 10px;
  }
}