#main-nav {
  width: 100%;
  height: 55px;
  background-color: rgba(255,255,255, 0.97);
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(0,0,0);
  @media (max-width: 850px) {
    .container {
      width: 90%;
    }
  }
  @media (max-width: 550px) {
    position: absolute;
    top: 0;
    left: 0;
    .container {
      width: 95%;
      padding: 0;
    }
  }
  .container {
    height: 55px;
  }
  .main-logo {
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    -webkit-backface-visibility: hidden;
  }
  .motto {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 25px;
    padding-top: 10px;
    color: #999;
    font-weight: 400;
    font-size: 14px;
    @media (max-width: 650px) {
      display: none;
    }
  }
  .right-nav {
    display: inline-block;
    float: right;
    height: 55px;
    padding: 8px 0;
    position: relative;
  }
  .dropdown-wrapper {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    @media (max-width: 750px) {
      padding-top: 5px;
    }
  }
  .dropdown-wrapper > .fa {
    font-size: 22px;
    color: #999;
    cursor: pointer;
    &:hover {
      color: #222;
    }
  }
  .dropdown-wrapper > .fa-bell-fix {
    margin-top: 2px;
  }
  .dropdown-wrapper > .fa-bell {
    color: #222;
  }
  .dropdown-wrapper > .fa-comments-fix {
    font-size: 28px;
  }
  .dropdown-wrapper > .fa-comments {
    color: #222;
  }
  .dropdown-wrapper > .fa-angle-up {
    color: #222;
  }
  .dropdown-wrapper > i, .discuss-link {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px
  }
  .discuss-link.active {
    color: #222;
  }
  .user-wrapper {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 10px;
    img, p {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }
    &:hover p {
      color: #222;
    }
    @media (max-width: 750px) {
      display: none;
    }
  }
  .user-pic {
    border-radius: 50%;
  }
  p.user-name {
    margin: 0;
    color: #999;
    font-size: 16px;
  }
  .nav-dropdown {
    position: absolute;
    top: 36px;
    right: 0;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
    background-color: #fff;
    color: #848484;
    overflow: hidden;
    &.noti {
      width: 350px;
    }
    &.setting {
      width: 200px;
      font-size: 16px;
      padding: 5px 0;
    }
    .item {
      cursor: pointer;
      .date {
        font-size: 9px;
        font-weight: 600;
        color: #999;
        margin-left: 60px;
      }
    }
    hr {
      margin: 5px 0;
    }
  }
  .setting .item {
    display: block;
    padding: 4px 20px;
    width: 100%;
    color: #000;
    font-size: 15px;
    text-decoration: none;
    &:first-child {
      color: #972952;
    }
    &:hover {
      background-color: #f9f9f9;
    }
  }
  .noti .item {
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #ddd;
    padding: 9px 10px;
    font-size: 12px;
    position: relative;
    color: #000;
    &:hover {
      background-color: #f9f9f9;
    }
    &.new {
      background-color: hexa(#873C58,0.1);
    }
    .icon-wrapper {
      position: absolute;
      top: 9px;
      left: 10px;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      border: 2px solid #5B142F;
      background-color: #972952;
      text-align: center;
      color: #fff;
      font-size: 24px;
      line-height: 1.8;
    }
    .detail {
      height: 37px;
      width: 330px;
      padding-left: 60px;
      line-height: 1.45;
      .hilight {
        color: #972952;
      }
    }
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: absolute;
      top: 9px;
      left: 10px;
    }
  }
}