.category-button {
	display: block;
	color: #B6B6B6;
	text-decoration: none;
	padding: 6px 6px;
	font-weight: 300;
	font-size: 14px;
	&:hover {
		color: #555555 !important;
	}
	&.link-active {
		color: black;
	}
}