#p-l {
  @media (min-width: 550px) {
    .four.columns {
      width: 28.6666666667%;
      padding-right: 10px;
    }
    .six.columns {
      width: 51%;  
    }
    .two.columns {
      width: 13.3333333333%;
    }
  }
  @media (max-width: 1024px) {
    .columns.nav {
      display: none;
    }
    .columns.feed {
      width: 65.3333333333%;
    }
  }
  @media (max-width: 550px) {
    .columns.feed {
      width: auto;
    }
  }
  .cover {
    height: 245px;
    width: 100%;
    background-size: cover;
    position: relative;
    button {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 14px;
      i {
        margin-right: 8px;
      }
    }
  }
  .name {
    width: 100%;
    max-width: 630px;
    padding: 0 3%;
    text-align: center;
    margin: -110px auto 40px;
    position: relative;
    img {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      margin: 0 auto 10px;
    }
    h1 {
      font-size: 28px;
      font-weight: 600;
      margin: 0 0 15px;
      letter-spacing: 0.0rem;
    }
    h4 {
      font-size: 16px;
      color: #777;
      letter-spacing: 0.0rem;
      font-weight: 400;
    }
  }
  .card {
    margin-bottom: 30px;
    .content {
      background-color: #fff;
      padding: 13px 15px 0;
      color: #999;
      box-shadow: 0 1px 5px hexa(#000 ,0.14);
      width: 100%;
    }
    .icon, .text-wrapper {
      display: inline-block;
      vertical-align: top;
    }
    .text-wrapper {
      width: calc(100% - 29px);
    }
  }
  .card-header {
    margin-bottom: 5px;
    padding: 0 10px;
    label {
      display: inline-block;
      vertical-align: middle;
      font-size: 18px;
    }
    .header-link {
      padding-top: 4px;
      float: right;
      text-decoration: none;
      color: #999;
      font-size: 12px;
      background-color: hexa(#000, 0);
      &:hover {
        color: #222;
      }
    }
  }
  .about-card {
    .fa {
      font-size: 17px;
      width: 25px;
      text-align: center;
    }
    .text {
      padding-left: 13px;
      font-size: 14px;
      margin-bottom: 15px;
    }
  }
  .cat-link {
    text-decoration: none;
    color: #999;
    &:hover {
      color: #222;
    }
  }
  .friend-card {
    .content {
      padding: 13px 10px 8px;
    }
    .friend {
      margin: 0 5px;
      border-radius: 50%;
      @media (max-width: 550px) {
        width: calc((100% / 4) - 10px);
      }
      @media (min-width: 550px) {
        width: calc((100% / 2) - 10px);
      }
      @media (min-width: 1000px) {
        width: calc((100% / 3) - 10px);
      }
    }
  }
  .cat-nav {
    margin-top: 10px;
    padding-left: 10px;
    label {
      font-size: 10px;
    }
    hr {
      margin: 6px 0;
    }
  }
  .nav {
    font-size: 16px;
    color: #888;
    cursor: pointer;
    padding: 5px 0;
    word-wrap: break-word;
    &:hover {
      color: #555555 !important;
    }
    &.active {
      color: black;
      font-weight: 600;
    }
  }
}


