/* discussion hub layout */
#dh-l {
  background-color: #fff;
  height: 680px;
  > .sidebar {
    width: 300px;
    height: 680px;
    overflow: hidden;
    border-right: 1px solid #ddd;
    display: inline-block;
    vertical-align: top;
  }
  > .discussion-room {
    width: calc(100% - 300px);
    display: inline-block;
    vertical-align: top;
  }
}