/* discussion hub layout */
#dh-l {
  background-color: #fff;
  min-height: 1000px;
  .sidebar {
    width: 300px;
    border-right: 1px solid #ddd;
    min-height: 1000px;
    display: inline-block;
    vertical-align: top;
  }
  .discussion-room {
    width: calc(100% - 300px);
    display: inline-block;
    vertical-align: top;
  }
}